*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	outline: none;
	border: none;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #1f201e;
  overflow-x: hidden;
}
img{
	max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
a{
	text-decoration: none;
}

li{
	list-style: none;
}

/* ==============================
   Color Styling
================================= */
:root {
  --pri: #f5f5f3;
  --sec: #efebe4;
  --black: black;
  --white: white;
}
.pri{
	color: red;
	background-color: grey;
}
.sec{
	color: blue;
	background-color: grey;
}
/* ==============================
   Spacing Styling
================================= */
.sm-m{
	margin-bottom: 20px;
}
.md-m{
	margin-bottom: 30px;
}
.lg-m{
	margin-bottom: 40px;
}
.xl-m{
	margin-bottom: 50px;
}
.sm-p{
	padding: 20px;
}
.md-p{
	padding: 30px;
}
/* ==============================
   Typography Styling
================================= */
h1{
	font-family: lato;
	font-size: 80px;
	font-weight: 700;
	line-height: 90px;
	letter-spacing: 1px;
}
h2{
	font-family: lato;
	font-size: 50px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 1px;
}
h3{
	font-family: lato;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 1px;
}
h4{
	font-family: lato;
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 1px;
}
h5{
	font-family: lato;
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 1px;
}
h6{
	font-family: lato;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 1px;
}
p{
	font-family: lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1px;
}

/* ==============================
   Flex And Grid Styling
================================= */
.row{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
/* ==============================
   Flex Styling
================================= */
.flex{
	display: flex;
	gap: 10px;
}
/* ==============================
   Columns Styling
================================= */
.col {
  flex-basis: 100%;
  min-width: 300px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-3 {
  flex-basis: 33%;
  min-width: 300px;
}

.col-4 {
  flex-basis: 25%;
  min-width: 300px;
}

/* ==============================
  All Button Styling
================================= */
.pri-btn {
  border: 1px solid var(--blac);
  padding: 15px 30px;
  color: var(--blac);
  transition: 0.3s ease-in-out;
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
}
.pri-btn:hover {
  border: 1px solid var(--blac);
  padding: 15px 30px;
  color: var(--white);
  background-color: var(--black);
}

/* ==============================
       Navbar Styling
================================= */
.navbar{
	display:flex;
	justify-content: space-between;
	padding: 20px;
	position: sticky;
	top: 0px;
	background-color: red;
}
.logo img{
	max-width: 180px;
}

nav ul li{
	display: inline-block;
	padding: 15px 20px;
}
nav ul li a{
	color: black;
}
/* ==============================
       Footer Styling
================================= */
.footer{
	width:100%;	
}
.footer-row{
	display:flex;
	justify-content:center;
	align-items:center;
}
.footer-col-1{
	flex-basis:100%;
	min-width:300;
}
.footer-col-2{
	flex-basis:50%;
	min-width:300px;
}
.footer-col-3{
	flex-basis:30%;
	min-width:300px;
}
.footer-col-4{
	flex-basis:25%;
	min-width:300px;
}


/* =================================================================================================
   Responsive Design in 992px
================================================================================================== */
@media only screen and (max-width: 992px) {

/* ==============================
   Flex And Grid Styling
================================= */
.row{
	flex-wrap: wrap;
}

/* ==============================
   Typography Styling
================================= */
h1{
	font-size: 80px;
	line-height: 90px;
}
h2{
	font-size: 50px;
	line-height: 70px;
}
h3{
	font-size: 40px;
	line-height: 60px;
}
h4{
	font-size: 30px;
	line-height: 50px;
}
h5{
	font-size: 25px;
	font-weight: 700;
}
h6{
	font-size: 22px;
	line-height: 30px;
}
p{
	font-size: 16px;
	line-height: 30px;
}

/* ==============================
       Columns Styling
================================= */
.col-2 {
  flex-basis: 100%;
}

/* ==============================
       Footer Styling
================================= */
.footer-row{
		flex-wrap:wrap;
	}
	.footer-col-2{
		flex-basis:100%;
	}
}

/* =================================================================================================
       Responsive Design in 768px
================================================================================================== */

@media only screen and (max-width: 768px) {

  body {
    font-size: 13px;
    line-height: 24px;
    overflow-x: hidden;
  }

  /* ==============================
       Section & Container Styling
    ================================= */
  section {
    padding: 30px 10px;
  }
  /* ==============================
       Typography Styling
    ================================= */
h1{
	font-size: 80px;
	line-height: 90px;
}
h2{
	font-size: 50px;
	line-height: 70px;
}
h3{
	font-size: 40px;
	line-height: 60px;
}
h4{
	font-size: 30px;
	line-height: 50px;
}
h5{
	font-size: 25px;
	font-weight: 700;
}
h6{
	font-size: 22px;
	line-height: 30px;
}
p{
	font-size: 16px;
	line-height: 30px;
}
/* ==============================
   Columns Styling
================================= */
.col {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 100%;
}
.col-3 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 33%;
}

/* ==============================
   Footer Styling
================================= */
	.footer-col-3{
		flex-basis:100%;
	}
	.footer-col-4{
		flex-basis:100%;
	}
}

/* =================================================================================================
       Responsive Design in 480px
================================================================================================== */

@media only screen and (max-width: 480px) {

  /* ==============================
       Typography Styling
    ================================= */
  h1{
	font-size: 80px;
	line-height: 90px;
}
h2{
	font-size: 50px;
	line-height: 70px;
}
h3{
	font-size: 40px;
	line-height: 60px;
}
h4{
	font-size: 30px;
	line-height: 50px;
}
h5{
	font-size: 25px;
	font-weight: 700;
}
h6{
	font-size: 22px;
	line-height: 30px;
}
p{
	font-size: 16px;
	line-height: 30px;
}
/* ==============================
   Columns Styling
================================= */
.col {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 100%;
}
.col-3 {
  flex-basis: 100%;
}

.col-4 {
  flex-basis: 50%;
}
}

/* =================================================================================================
       Responsive Design in 300px
================================================================================================== */

@media only screen and (max-width: 768px) {
  /* ==============================
       Typography Styling
    ================================= */
  h1{
	font-size: 80px;
	line-height: 90px;
}
h2{
	font-size: 50px;
	line-height: 70px;
}
h3{
	font-size: 40px;
	line-height: 60px;
}
h4{
	font-size: 30px;
	line-height: 50px;
}
h5{
	font-size: 25px;
	font-weight: 700;
}
h6{
	font-size: 22px;
	line-height: 30px;
}
p{
	font-size: 16px;
	line-height: 30px;
}

}